.nav_wrapper {
  .nav_content {
    padding: 0 20px;
    background-color: $primary;
    height: 80px;
    display: flex;
    align-items: center;

    .links_container {
      flex: 1;
      display: flex;
      align-items: center;


      ul {
        display: flex;
        align-items: center;

        padding: 0;

        li {
          padding: 0 20px;
          list-style: none;

          .dropdown_links {
            display: flex;
            flex-direction: column;

            .dropdown_items {
              padding: 5px 0;

            }

            a {
              color: $dark;
              padding: 5px 0;

              &:hover {
                color: $secondary;
              }

            }

          }
        }
      }

      .search_container {
        min-width: 300px;
        margin-left: auto;
      }
    }

    .mobile_actions {
      display: none;
    }

  }
}

@media screen and (max-width:$desktop) {


  .nav_wrapper {
    .nav_content {

      .links_container {
        position: fixed;
        left: 0;
        top: 80px;
        z-index: 100;
        height: 100vh;
        width: 100%;
        transform: translateX(-100%) scaleX(0);
        opacity: 0;
        transition: $transition_light;
        background-color: $primary;
        display: block;

        .search_container {
          max-width: 300px;
          margin-left: 20px;
        }

        ul {
          display: unset;

          &.animate_links {
            animation: links_animate $transition_medium both;
            animation-delay: 0.3s;
            /* Replace 0.5s with your desired delay time */
          }

          li {
            margin: 20px 0;
          }
        }


        &.open_menu {
          transform: translateX(0) scaleX(1);
          opacity: 1;
        }

      }

      .mobile_actions {
        display: block;
        margin-left: auto;
      }
    }
  }

  @keyframes links_animate {
    from {
      opacity: 0;
      transform: translateY(40px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



}