.nav_wrapper {
  .nav_content {
    padding: 0 10px;
    background-color: $primary;
    height: 80px;
    display: flex;
    align-items: center;

    .links_container {
      flex: 1;

      ul {
        display: flex;
        align-items: center;

        padding: 0;

        li {
          padding: 0 20px;
          list-style: none;

          .dropdown_links {
            display: flex;
            flex-direction: column;

            .dropdown_items {
              padding: 5px 0;

            }

            a {
              color: $dark;
              padding: 5px 0;

              &:hover {
                color: $secondary;
              }

            }

          }
        }
      }
    }

    .search_container {
      min-width: 300px;
    }
  }
}

@media screen and (max-width:$tablet) {


  .nav_wrapper {
    .nav_content {

      .links_container {
        position: fixed;
        left: 0;
        top: 80px;
        z-index: 100;
        height: 100vh;
        width: 100%;
        transform: translateX(-100%);
        opacity: 0;
        background-color: $primary;

        ul {
          display: unset;

          li {
            margin: 20px 0;
          }
        }
      }
      .search_container {
        margin-left: auto;
      }
    }
  }

}