.styled_badge {
    border-radius: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    vertical-align: middle;

    &.xsm {
        height: 10px;
        width: 10px;
        font-size: 10px;
    }

    &.sm {
        height: 15px;
        width: 15px;
        font-size: 12px;
    }

    &.md {
        height: 20px;
        width: 20px;
        font-size: 14px;
    }

    &.lg {
        height: 25px;
        width: 25px;
        font-size: 16px;
    }

    &.xl {
        height: 30px;
        width: 30px;
        font-size: 18px;
    }

    &.xxl {
        height: 35px;
        width: 35px;
        font-size: 20px;
    }

    &.danger {
        background: $danger;
        color: $light;
    }

    &.success {
        background: $success;
        color: $light;
    }

    &.warning {
        background: $warning;
        color: $light;
    }

    &.info {
        background: $info;
        color: $light;
    }

    &.primary {
        background: $primary;
        color: $light;
    }

    &.secondary {
        background: $secondary;
        color: $light;
    }

    &.light {
        background: $light;
        color: $light;
    }

    &.dark {
        background: $dark;
        color: $light;
    }

    &.light {
        background: $light;
        color: $dark;
    }

    &.transparent {
        background: transparent;
        color: $dark;
    }

    &.mr_5 {
        margin-right: 5px;
    }

    &.mr_10 {
        margin-right: 10px;
    }

    &.mr_15 {
        margin-right: 15px;
    }

    &.ml_5 {
        margin-left: 5px;
    }

    &.ml_10 {
        margin-left: 10px;
    }

    &.ml_15 {
        margin-left: 15px;
    }

    &.mt_5 {
        margin-top: 5px;
    }

    &.mt_10 {
        margin-top: 10px;
    }

    &.mt_15 {
        margin-top: 15px;
    }

    &.mb_5 {
        margin-bottom: 5px;
    }

    &.mb_10 {
        margin-bottom: 10px;
    }

    &.mb_15 {
        margin-bottom: 15px;
    }

    &.m_5 {
        margin: 5px;
    }

    &.m_10 {
        margin: 10px;
    }

    &.m_15 {
        margin: 15px;
    }
}
